body {
  font-family: "Neucha", cursive;
  box-sizing: border-box;
  background-color: rgb(0, 113, 114);
}

.top-flex {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  font-size: 25px;
  border: 1px solid sandybrown;
}

.top-flex button {
  font-size: large;
  background-color: transparent;
  text-transform: uppercase;
}

.main-heading-class {
  border: 1px solid sandybrown;
  text-align: center;
  margin: 4% 33%;
  font-size: 50px;
}

.secret {
  border: 1px solid sandybrown;
  padding: 0px 40px;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0 45%;
}

.hr-class {
  margin: 5% 0;
}

#parentDiv {
  border: 1px solid sandybrown;
  display: flex;
  justify-content: space-between;
}

.ChildDiv {
  border: 1px solid sandybrown;
  margin: 0 40px;
  padding: 100px 250px;
}
